<html>
   <body>
Hi,<br><br>

Thank you for choosing McKesson.<br><br>

Please note that per our supply agreement, all contracts should be provided ${supplierSla} day(s) prior to their effective date. Failing to do so may result in pricing delays, and any resulting chargebacks should be honored.<br><br>

Thanks!
      
</body>
</html>