<html>
   <body>
      Hi Team, <br><br>
      CCA received below listed file(s) with an incorrect extension.<br>
      Process: Integration<br>
      Date_Time: ${insertTime}<br>
      
      
      
      #set ($map = $jobNameWithFile )
      #foreach ($mapEntry in $map.entrySet())
      <br>
      Incorrect extension file path:  
         #foreach ($path in $mapEntry.value)
                <b>$path </b> <br/>
         #end
      #end
      <br><br>
      Thanks,<br>
      CCA Team
      <br>
      <br>
      <b>NOTE:</b> This is the system generated email. Please do not reply to this email. In case of any issue please contact to support team.
   </body>
</html>