<html>
   <body>
      Hi Team, <br><br>
      CCA received below file(s) however it is corrupt.Can you please have a look and confirm till what time CCA would receive new file(s) for processing.<br>
      Process: Integration<br>
      Date_Time: ${insertTime}
      
      
      
      #set ($map = $jobNameWithFile )
      #foreach ($mapEntry in $map.entrySet())
      <br>
      Job Name: $mapEntry.key
         #foreach ($path in $mapEntry.value)
                <b>$path </b> <br/>
         #end
      #end
      <br><br>
      Thanks,<br>
      CCA Team
      <br>
      <br>
      <b>NOTE:</b> This is the system generated email. Please do not reply to this email. In case of any issue please contact to support team.
   </body>
</html>